.container {
    max-width: 960px;
    margin   : 0 auto;
    padding  : 1rem;
}

.mt-4 {
    margin-top: 1rem;
}

.radio {
    display      : block;
    margin-bottom: 0.5rem;
}

.v-footer,
footer {
    background: #f3ea63 !important;
}


.goodwife {
    height         : 100vh !important;
    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-direction : column;
}

.valentine-background {

    background: #ffffff6e !important;
}