$primary   : #FF0000ff;
$secondary : #F3EA63ff;
$background:#E54E38ff;

.container {
    max-width: 960px;
    margin   : 0 auto;
    padding  : 1rem;
}

.mt-4 {
    margin-top: 1rem;
}

.radio {
    display      : block;
    margin-bottom: 0.5rem;
}

.v-footer,
footer {
    background: #f3ea63 !important;
}

.nkeup {
    height: 54px;
}

#moudd {
    background : $primary !important;
    font-family: 'Shadows Into Light', cursive !important;
    font-weight: bold !important;

    &:hover {
        background: $secondary !important;
        color     : $primary !important;
    }
}

.goodwife {
    z-index        : 10;
    position       : relative;
    height         : 100vh !important;
    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-direction : column;
}

body.zeresultat,
body.zeindex {
    .v-application {
        background        : url(/images/backgoround.webp);
        background-size   : cover;
        background-position: center center;
    }
}

body.zeresultat {
    .romantic-subtitle {
        font-family: var(--font-subtitle);
        font-weight: 800;
        font-size  : 1.2rem;
        color      : #ff0000;
    }
}

body.zequestion {
    background     : url('/images/textureBg.jpg');
    background-size: contain !important;

    .v-application {
        background         : url('/images/fondQuestion.webp');
        background-size    : contain !important;
        background-repeat  : no-repeat !important;
        background-position: center center !important;

    }
}

.boujto {
    height: 150px;
}

.v-selection-control .v-label {
    font-family: 'Shadows Into Light', cursive;
    font-size  : 1.82rem;

}